
.container {
    min-height: 100vh;
    background: linear-gradient(45deg, #111111, #3f3f3f);
    color: #fff;
    padding: 40px 20px;  
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row {
    margin-left: 4%;
    display: flex;
    flex-direction: row;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.spinner {
    margin-top: 250px;
    border: 14px solid #f1f1f1;
    border-top: 14px solid #ffcc00;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 0.3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Header Studio */
.studio-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.studio-image {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

.studio-name-location {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.studio-name {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(45deg, #ff6600, #ffcc00);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
}

.studio-location {
    font-size: 1rem;
    opacity: 0.7;
}

.studio-details {
    width: 40%;
    margin-top: 20px;
    padding: 20px 40px;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.studio-details h3 {
    font-size: 1.5rem;
    color: #ffcc00;
    margin-bottom: 20px;

}

.studio-details p {
    line-height: 1.6;
    opacity: 0.9;
}

/* Danh sách phim */
.movie-list {
    display: flex;

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.movie-item {
    display: flex;
    flex-direction: row;
    align-items: normal;
    gap: 10px;
    width: auto;
    height: 180px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movie-item:hover {
    background: rgba(255, 102, 0, 0.1);
    cursor: pointer;
}

.movie-image {
    width: 120px;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
}

.movie-item p {
    font-size: 0.9rem;
    color: #adadad;
    margin: 0;
}

.movie-item div {
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffcc00;
    padding-bottom: 60px;
}

.budget {
    margin-left: 4%;
    width: 40%;
    margin-top: 20px;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.budget h3 {
    font-size: 1.5rem;
    color: #ffcc00;
    margin-bottom: 20px;

}

.year-picker {
    margin-left: 30%;
    width: 300px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    color: #333;
}

.budget-dollar {
    margin-top: 50px;
    padding: 10px;
    text-align: center;
    border-color:#ff6600;
    border: 1px solid;
}
